<h1>ABOUT PAGE</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Urgent information</h3>
  </div>
  <div class="panel-body">
    It's about time! Here is the message about this. It goes on and on. Trying out the bootstrap styles.
  </div>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Listing of Things</div>
  <div class="panel-body">
    <p>This table shows all the elements of this table.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
    	<tr>
    		<th>#</th>
    		<th>Name</th>	<th>Comment</th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    		<th scope="row">1</th>
    		<td> BLABLA </td>	<td> This is a good one.</td>
    	</tr>
    	<tr>
    		<th scope="row">2</th>
    		<td> SOSOSOSO </td> <td> This one is soso.</td>
    	</tr>
    </tbody>
  </table>
</div>